
Step 1 - Image Dataset Selection/PlantVillage/tomato-original.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-SEGNET-annotations.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-80-10-10.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-cropped-segmented-balanced.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-cropped-segmented.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-cropped.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-YOLOv3-annotations.zip
Step 3 - Data Analysis/.vscode/launch.json
Step 3 - Data Analysis/py/__pycache__/testing_test.cpython-37-pytest-6.2.4.pyc
Step 3 - Data Analysis/py/libs/__pycache__/alibtes.cpython-37.pyc
