
Step 1 - Image Dataset Selection/PlantVillage/tomato-original.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-SEGNET-annotations.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-80-10-10.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-cropped-segmented-balanced.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-cropped-segmented.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-split-cropped.zip
Step 1 - Image Dataset Selection/PlantVillage/tomato-YOLOv3-annotations.zip
